{% extends "base.html" %}
{% load static %}

{% block title %}Social media{% endblock title %}

{% block content %}
    <div class="row post-container">
        {% include 'main_list.html' %}
    </div>
    {% if page_obj.paginator.num_pages > 1 %}
    <div class="row justify-content-center">
        <div class="col-2">
            <button class="btn btn-primary btn-lg mt-2" onclick="showMore()" id="show-more">Show more</button>
        </div>
    </div>
    {% endif %}
    <input type="hidden" id="page-current" value="{{page_obj.number}}">
    <input type="hidden" id="page-number" value="{{page_obj.paginator.num_pages}}">
    <script src="{% static 'js/main.js' %}"></script>
{% endblock content %}