{% extends "base.html" %}
{% load static %}

{% block title %}{{object.name}}{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-md-3 col-lg-3 profile-picture">
        {% if object.image %}
        <img class="img-thumbnail" src="{{ object.image.url }}">
        {% else %}
        <p>No image present</p>
        {% endif %}
        <h2>{{ object.name }}</h2>
    </div>
    <div class="col">
        <p>{{object.description}}</p>
    </div>
</div>

<div class="row">
    {% if request.user.is_authenticated %}
    <div class="col-12 mb-4">
        <form method="post" action='{% url "community_post_create" object.pk %}' enctype="multipart/form-data">
            {% include "posts/post_create.html" %}
        </form>
    </div>
    {% endif %}
    {% if posts %}
        <div class="row post-container">
            {% include 'community/community_post_list.html' %}
        </div>
        {% if posts.paginator.num_pages > 1 %}
        <div class="row justify-content-center">
            <div class="col-2">
                <button class="btn btn-primary btn-lg mt-2" onclick="showMore()" id="show-more">Show more</button>
            </div>
        </div>
        {% endif %}
        <input type="hidden" id="page-current" value="{{posts.number}}">
        <input type="hidden" id="page-number" value="{{posts.paginator.num_pages}}">
        <script src="{% static 'js/main.js' %}"></script>
    {% else %}
        <p>There are currently no posts.</p>
    {% endif %}
</div>
{% endblock content %}