{% extends "base.html" %}
{% load myfilters %}

{% block title %}Reset password{% endblock %}
{% block content %}
    <form action="" method="post">
        {% csrf_token %}

        {% if form.email.errors %}
            <p>{{ form.email.errors }}</p>
        {% endif %}

        <div class="row g-3 align-items-center">
            <div class="col-auto form-label">{{ form.email.label_tag}}</div>
            <div class="col-auto">{{ form.email|addclass:'form-control' }}</div>

            {% if form.email.help_text %}
                <div class="col-auto form-text text-muted" id="{{ form.email.auto_id }}_helptext">
                {{ form.email.help_text|safe }}
                </div>
            {% endif %}
            <div class="col-auto"><input type="submit" class="btn mt-1 btn-primary" value="Reset password"></div>
        </div>
    </form>
{% endblock %}
