{% csrf_token %}
<div class="form-group">
    <label for="content">Add your post:</label>
    <textarea class="form-control" id="content" name="content" rows="4" required></textarea>
</div>
<div class="form-check mb-3">
    <input type="checkbox" class="form-check-input" id="locked" name="locked">
    <label class="form-check-label" for="locked">Lock the post</label>
</div>
<div class="form-group">
    <label for="image">Add an image to your post</label>
    <input type="file" class="form-control-file" id="image" name="image" accept="image/*">
</div>
<button type="submit" class="btn btn-primary">Post</button>