{% extends "base.html" %}

{% block title %}Post #{{ object.pk }}{% endblock title %}

{% block content %}
<h2><a href='{% url "profile" object.author.pk %}'>{{ object.author.get_full_name }}</a></h2>

<p>{{ object.content }}</p>
{% if object.image %}
<img src="{{ object.image.url }}" style="max-width: 500px;">
{% endif %}
<form method="post" action="{% url "react_post_or_comment" "post" object.pk "like" %}">
    {% csrf_token %}
    <button type="submit">
        <p>Likes: {{ object.number_of_likes }}</p>
    </button>  
</form>
<form method="post" action="{% url "react_post_or_comment" "post" object.pk "dislike" %}">
    {% csrf_token %}
    <button type="submit">
        <p>Dislikes: {{ object.number_of_dislikes }}</p>
    </button>
</form>
<p>Posted at: {{ object.posted_at }}</p>

{% if object.edited %}
    <p>Edited</p>
{% endif %}

{% if request.user.is_authenticated and request.user.pk == object.author.pk %}
<div>
    <a href="{% url "post_update" object.pk %}">Update post</a>
    <a href="{% url "post_delete" object.pk %}">Delete post</a>
</div>
{% endif %}

{% include "comments/comments_part.html" %}

{% endblock content %}